.profile__text {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  width: 336px;
  max-height: 77px;
  gap: 7px 0;
}

@media screen and (max-width: 641px) {
  .profile__text {
    width: 100%;
    justify-content: center;
    gap: 7px 10px;
  }
}
