.popup__button-close {
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: -40px;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background: transparent url('../../../images/close.svg') no-repeat center / contain;
}

@media screen and (max-width: 580px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0;
    top: -36px;
  }
}
