.popup__container {
  position: relative;
  width: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  cursor: default;
}

@media screen and (max-width: 580px) {
  .popup__container {
    width: 282px;
  }
}
