.header {
  margin: 0 auto;
  padding-top: 45px;
  width: 100%;
  max-width: 880px;
  min-width: 293px;
  min-height: 74px;
  border-bottom: rgba(84, 84, 84, 0.7) 1px solid;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

@media screen and (max-width: 580px) {
  .header {
    padding: 29px 0 0 27px;
    min-height: 56px;
    max-width: 293px;
  }
}
